.head{
    font-style: italic;
    font-size: 40px;
    background-color: rgb(255, 192, 204);
    height: 100px;
    width: 1000px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    
}
.Nevigation{
    color: white;
    background-color: rgb(211, 172, 250);
    height: 50px;
    width: 1000px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;  
    place-items: center ;
    display: grid;
}
.Lorem{
    padding: auto;
    color: white;
    background-color: rgb(154, 154, 154);
    height: 550px;
    width: 1000px;

}
.Footer{
    font-size: 40px;
    background-color: rgb(255, 220, 241);
    height: 50px;
    width: 1000px;
    text-align: center;
    place-items: center ;
    display: grid;
}
